body {
    background-image: url("../images/embossed-diamond.png");
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

h1 {
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0px 25px 0px;
    padding-bottom: 25px;
    border-bottom: solid #777777;
    /* clear: left; */
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 250px;
    /* float: left */
}

#header {
    background: #ffffff;
    border-color: #cccccc;
    border-bottom-style: solid;
    margin-bottom: 25px;
}

#about {
    background: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    padding: 25px;
}

#footer {
    background: #666666;
    color: #ffffff;
    /* position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%; */
    border-top: 8px solid #4aaaa5;
}
